{{>header}}

<div class="container-fluid">
    <h3>Order Placed.</h3>
    <div class="alert-primary border rounded w-25">
        <p>Order id: {{orderDetails.orderId}}</p>
        <p>Total Cost: £{{totalCost}}</p>
    </div>
</div>

{{>footer}}